<div>
    This is a <strong>simple</strong> HTML text.<br>
    <br>
    It contains legal norms, like Art. 12 Abs. 1 GG ..<br>
    <span class="§ 1">&sect; 1 ZPO</span> was there even before them!<br>
    .. or § 433 II BGB! It also refers to § 1 of some legal document.<br>
    <br>
    At the same time, there are invalid ones, like ..<br>
    § 1a BGB and § 1 GGGG ..<br>
    .. and what about european law, like Art. 2 Abs. 2 DSGVO?<br>
</div>
